{% extends 'base.html.twig' %}

{% block body %}
    <h1>Products</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Price</th>
                <th>Description</th>
                <th>Updated at</th>
                <th>Created at</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.getName() }}</td>
                    <td><a href="/product/category/{{ product.getCategory().getName() }}">{{ product.getCategory().getName() }}</a></td>
                    <td>{{ product.getPrice() }} kn</td>
                    <td>{{ product.getDescription() }}</td>
                    <td>{{ product.getUpdatedAt().format('d. m. Y. H:i:s') }}</td>
                    <td>{{ product.getCreatedAt().format('d. m. Y. H:i:s') }}</td>
                    <td><a href="/product/update/{{ product.id }}" class="btn btn-default">Update</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/product/create" class="btn btn-default">Add new</a>
{% endblock %}
